<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="regression test">
  <test name="Logindex">
    <classes>
      <class name="com.rectrix.groupworkflow.logindex.Logindex"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
